* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
.nav a
{
    text-decoration:none ;
}

.nav
{
    background-color: #1976d2;
    color: white;
    
   
}
.bg-dark img
{
    width: 80px;
}

#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    top: 0;
    z-index: 1;
    

}
#navbar ul 
{
    list-style: none;
    display: flex;
    padding-right: 30px;
    font-size: 20px;
   
}
#navbar ul li
{
    color: #fff;
    padding: 0.75rem;
    transition: 0.5s;
}

#navbar ul li:hover
{
    background-color: black;
    border-radius: 5px;
   
}
.nav  li a
{
    text-decoration: none;
}

/* End navbar */
#Name {
    animation-name: Hamodeh;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
#N
{
    animation-name: Hamodeh;
    animation-duration: 5s;
    animation-iteration-count: infinite;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.e
{
    
}

#Full {
    color: #fff;
}

@keyframes Hamodeh {
    10% {
        color: black;
    }

    30% {
        color: #999;
    }
}




/* <!-- Start Home--> */
#Home {
    width: 100%;
    height: 100vh;
    background-image: url(img/computer-programming.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.Home_div1 {
    background-color: #1976d2;
    width: 50%;
    height: 100vh;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  

}

#Name {
    color: white;
    

}

.Home_h1 {
    font-size: 50px;
}

/* <!-- End Home--> */




/* Start Project ME  */
#Project {

    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;


}

/* #Project_h1{
    margin-bottom: 50px;
    
} */


#Project h1::after {
    content: "";
    background-color: #1976d2;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.container1 {
    padding: 20px;

}

.container1>div {
    width: 400px;
    height: 298px;
    background-color: #1976d2;
    margin: 15px;


}

.container1 {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    justify-content: center;
    align-items: center;
    transition:all;

}

#Project h1 {
    text-align: center;
    color: #777 !important;
    padding-bottom: 10px;

    font-size: 50px;

}


.Project_contact>div>img {
    width: 100%;
    height: 200px;
}

.Project_contact>div>button {
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: underline;
    padding-left: 5px;

}

.Btn {
    /* padding-top: 2px; */

}

/* .Btn>button:hover {

    color: black;
    transition: all;
    transition-duration: 1s;
} */

.Btn>button>a:hover {
    color: black;
    transition: all;
    transition-duration: 1s;
}

.Btn>button>a {
    text-decoration: none;
    color: white;
}

#btn2 {
    margin-top: 45px;
    margin-left: 5px;
}

.Project_contact {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}

.Project_contact:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
}

/* end Project ME */





/* Start Cotact */
#btn5
{
    margin-top: 20px;
    margin-left: 5px;
}
#btn3
{margin-top: 27px;
    margin-left: 5px;}
#lan
{
    color: white;
    padding-left: 4px;
}
#v
{
    padding-left: 8px;
}
#about>.container {
    width: 85%;
}
#h1
{
    padding-bottom: 1000px;
}

#about h1::after {
    content: "";
    background-color: #1976d2;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

#about h1 {
    text-align: center;
    color: #777 !important;
    padding-bottom: 40px;

    font-size: 50px;

}

#about {

    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-bg {
    height: 100%;
    min-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #1976d2;
    border: 5px solid #1976d2 ;
    animation-name: ha;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes ha
{
    10%
    {
        border: 5px solid black;
    }

  
}
.about-content h2 span {
    color: white;
    font-size: 100%;
}

.about-content h4 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 15px;
}

.about-content p {
    font-weight: 400;
}

.about-content h5 {
    margin: 30px 0;
    text-transform: uppercase;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 90%;
    height: 30px;

}


.skillbar {
   
    cursor: pointer;
    transition: 0.5s;


}

.skillbar :hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
    

}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-size: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
   text-transform: capitalize;
    
}

.skillbar-title span {
    display: block;
    padding: 0 1px;
    height: 35px;
    line-height: 35px;
    
}


#cv {
    width: 120px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #1976d2, #1976d2);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}
#cv a
{
    width: 180px;
   color: #fff;
 text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

#name111 {
    color: #0d47a1;
}



#cv:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
}

#skills {
    display: grid;
    grid-template-columns: auto auto auto;
    
}

/* End Contact */

#contact h1
{
    padding-bottom: 20px;
}
#contact h1::after {
    content: "";
    background-color: #1976d2;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

#contact {
    text-align: center;
}

.form-group {
    padding: 10px 0px;

}

#contact {
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.contact-form {
    padding: 15px;

}

.form-control {
    border-radius: 0 !important;
    border: none !important;
}

::placeholder {
    color: #999 !important;
}

.follow {
    background-color: #fff;
    padding: 10px;
    margin: 15px;
}

.content-info {
    margin-top: 10px;
}

.content-info .fa {
    margin: 10px;
    color: #1976d2;
    font-weight: bold;
}

.yy {
    padding: 20px;
}

.follow:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.form-control:hover {
    cursor: pointer;
}

#about> {
    width: 70%;
}

/* Start MEdia */






@media only screen and (max-width: 1200px) {
    .Home_div1 {
        width: 50%;

    }

    .container1 {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        
        
    }

    .container1>div {
        width: 400px;

    }

    .Home_div1 h1 {
        font-size: 40px;

    }
}



@media only screen and (max-width: 900px) 
{
    .container1 {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        
        
    }
    .logo-img
    {
     display: none;
    }

    .Home_div1 {
        width: 50%;

    }

    .Home_div1 h1 {
        font-size: 20px;
    }
  
}

@media only screen and (max-width: 400px) {
    .Home_div1 {
        width: 60%;
        opacity: 0.5;

    }

    .Home_h1 h1 {
        font-size: 20px;
    }

    .container1 {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .container1>div {
        width: 350px;

    }
  
}

@media only screen and (max-width: 380px) {
    .Home_div1 {
        width: 60%;
       

    }

   

    .container1 {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .container1>div {
        width: 350px;

    }
   
}

@media only screen and (max-width: 375px) 
{
    .Home_div1 {
        width: 60%;
        opacity: 0.5;
       

    }

   .nav > a
   {
   font-size: 15px;
   }
    #ba
    {
        font-size: 13px;
        font-weight: bolder;
    }
} 
/* End MEdia */
#footer
{
    background-color: #1976d2;
    color: white;
padding: 12px;
}
#footer .container p
{
    padding-top: 15px;
}
.cc
{
    margin: 3px;
    color: red;
    justify-content:s;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex-flow: column;
    align-content: flex-start;
}
#f
{
    color: #1976d2;

}
#s
{
background-color: #1976d2;
}
#s:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 1);
}
.container1 > .Project_contact > div >h6
{
    padding-top: 5px;
}
